@import './themes/gruvbox.scss';

@import './widgets/workspaces.scss';
@import './widgets/windowTitle.scss';
@import './widgets/volume.scss';

* {
  min-height: unset;
}

.bar {
  min-height: 33px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  background-color: $bg;
  color: $fg;
}


.media {
  background-color: $box-bg;
  border-radius: $box-border-radius;
  padding: 0px 10px 0px 10px;
  margin: 5px 10px 5px 0px;
}

.date {
  background-color: $box-bg;
  padding: 0px 10px 0px 10px;
  border-radius: $box-border-radius;
  margin: 5px 10px 5px 0px;
};

.tray {
  background-color: $box-bg;
  padding: 0px 10px 0px 10px;
  border-radius: $box-border-radius;
  margin: 5px 10px 5px 0px;
}

.tray-icon {
  font-size: 18px;
  background-color: $box-bg;
  padding: 2px;
}
