@define-color bg rgba(40,40,40,0.8);
@define-color fg rgb(235,219,178);
@define-color box-bg rgb(80,73,69);

@define-color wsfg rgb(235,219,178);
@define-color wsbg rgb(60,56,54);
@define-color activewsbg rgb(102,92,84);

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12;
}

window#waybar {
    background: transparent;
    color: @fg;
}

window#waybar > box {
  background-color: @bg;
}

#wireplumber,
#mpd,
#custom-waybar-mpris,
#custom-ds-battery,
#window,
#keyboard-state,
#tray,
#clock,
#custom-swaync {
    background: @box-bg;
    padding: 0px 10px 0px 10px;
    margin: 5px 10px 5px 0px;
    border-radius: 10px;
}

#window {
    margin: 5px 10px 5px 10px;
}

#wireplumber {
    margin: 5px 0px 5px 0px;
    border-radius: 10px 0px 0px 10px;
}

#mpd {
    border-radius: 0px 10px 10px 0px;
}

#tray {
    margin: 5px 10px 5px 0px;
}

#clock {
    margin: 5px 5px 5px 0;
}

#workspaces {
    margin: 5px 0px 5px 0px;
    padding-left: 10px;
}

#workspaces button {
    color: @fg;
    background: @wsbg;
    padding: 0px 5px;
    border-radius: 0;
}

#workspaces button:last-child {
    border-radius: 0px 10px 10px 0px;
}

#workspaces button:first-child {
    border-radius: 10px 0px 0px 10px;
}

#workspaces button:only-child {
    border-radius: 10px 10px 10px 10px;
}

#workspaces button.active {
    color: @wsfg;
    background: @activewsbg;
    font-weight: bold;
}

#workspaces button.persistent {
    color: @wsfg;
    background: @wsbg;
    font-weight: bold;
}
