.tray {
  background-color: $box-bg;
  padding: 0px 10px 0px 10px;
  border-radius: $box-border-radius;
  margin: 5px 10px 5px 0px;
}

.tray .tray-icons {
  font-size: 18px;
  background-color: $box-bg;
  padding: 2px;
}
