.workspaces {
  background-color: $box-bg;
  border-radius: $box-border-radius;
  margin: 5px 0px 5px 10px;
  font-size: 0px;
}

.workspaces button {
  border-radius: 0;
  background-color: $wsbg;
  font-size: 10px;
}

.workspaces button.focused {
  border-radius: 0px;
  background-color: $activewsbg;
}

.workspaces button:first-child {
  border-radius: $box-border-radius 0px 0px $box-border-radius;
}

.workspaces button:last-child {
  border-radius: 0px $box-border-radius $box-border-radius 0px;
}


